@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Old Standard TT;
    src: url("fonts/OldStandardTT-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("fonts/Merriweather-LightItalic.ttf");
}

body {
    margin: 0;
    background: #cbc5c1;
}

header {
    display: flex;
    background: #5b5549;
    border-radius: 0 0 calc(20 / 1920 * 100vw) calc(20 / 1920 * 100vw);
}

ol {
    margin: 0;
    margin-left: calc(255 / 1920 * 100vw);
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    font-size: calc(45 / 1920 * 100vw);
    font-family: Montserrat;
    text-align: center;
    /* stroke: 1px solid #CBC5C1; */
    color: #cbc5c1;
    list-style-type: none;
}

.watch {
    border: 0px solid #524d42;
    border-right-width: 5px;
    border-left-width: 5px;
    padding-right: calc(250 / 1920 * 100vw);
    padding-left: calc(250 / 1920 * 100vw);
    padding-top: calc(40 / 1920 * 100vw);
    padding-bottom: calc(33 / 1920 * 100vw);
}

.img2 {
    height:calc(125 / 1920 * 100vw);
    width: calc(138 / 1920 * 100vw);
    background-image: url("img/user2.svg");
    border-radius: 0 0 calc(20 / 1920 * 100vw) 0;
    background-size: cover;
    border: 5px solid #524d42;
}

section {
    width: calc(1415 / 1920 * 100vw);
    height: calc(819 / 1920 * 100vw);
    background: url("img/bg.svg");
    background-size: cover;
    margin-top: calc(72 / 1920 * 100vw);
    margin-right: calc(245 / 1920 * 100vw);
    margin-bottom: calc(61 / 1920 * 100vw);
    margin-left: calc(260 / 1920 * 100vw);
}

.logo {
    text-align: center;
    font-size: calc(64 / 1920 * 100vw);
    font-family: Old Standard TT;
    font-weight: normal;
    margin-top: calc(72 / 1920 * 100vw);
    margin: 0;
    z-index:2;
}

#logo-eng {
    text-align: center;
    font-size: calc(45 / 1920 * 100vw);
    font-family: "Old English Text MT";
    font-weight: normal;
    margin: 0;
    z-index:2;
}

.quote {
    width: calc(652 / 1920 * 100vw);
    font-family: Merriweather;
    font-size: calc(30 / 1920 * 100vw);
    text-align: center;
    margin-top: calc(58 / 1920 * 100vw);
    margin-left: calc(370 / 1920 * 100vw);
}

.quote-author {
    text-align: right;
    margin-top: calc(1 / 1920 * 100vw);
}

button {
  width: calc(335 / 1920 * 100vw);
  height: calc(132 / 1920 * 100vw);
  background: #5b5549;
  border-radius: calc(50 / 1920 * 100vw);
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-size: calc(36 / 1920 * 100vw);
  margin-left: calc(526 / 1920 * 100vw);
  color: #cbc5c1;
}

footer {
    width: calc(458 / 1920 * 100vw);
    height: calc(28 / 1920 * 100vw);
    text-align: center;
    font-size: calc(24 / 1920 * 100vw);
    font-family: Montserrat;
    margin-right: calc(740 / 1920 * 100vw);
    margin-left: calc(722 / 1920 * 100vw);
    margin-bottom: calc(20 / 1920 * 100vw);
}

/*img {
    position: absolute;
    width: calc(1415 / 1920 * 100vw);
    height: calc(762 / 1920 * 100vw);
    left: calc(260 / 1920 * 100vw);
    right: calc(245 / 1920 * 100vw);
    top: calc(255 / 1920 * 100vw);
    bottom: calc(64 / 1920 * 100vw);

}*/