@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Old Standard TT;
    src: url("fonts/OldStandardTT-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("fonts/Merriweather-LightItalic.ttf");
}

body {
    margin: 0;
    background: #cbc5c1;
}

header {
    display: flex;
    border-radius: 0 0 calc(20 / 1920 * 100vw) calc(20 / 1920 * 100vw);
}

ol {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(125 / 1920 * 100vw);
    font-size: calc(45 / 1920 * 100vw);
    background: #5b5549;
    font-family: Montserrat;
    color: #cbc5c1;
    list-style-type: none;
}

.menu-item:hover {
    background: #6C5748;
}

.menu-item:active {
    background: #cbc5c1;
    color: #524D42;
}

#main {
    width: calc(608 / 1920 * 100vw);
    border-radius: 0 0 0 calc(20 / 1920 * 100vw) ;
}

#watch {
    border: 0px solid #524d42;
    border-right-width: 5px;
    border-left-width: 5px;
    width: calc(717 / 1920 * 100vw);
}

#manga {
    width: calc(458 / 1920 * 100vw);
}

#img2 {
    width: calc(138 / 1920 * 100vw);
    background-image: url("img/user2.svg");
    border-radius: 0 0 calc(20 / 1920 * 100vw) 0;
    background-size: cover;
}

h1 {
    width: calc(516 / 1920 * 100vw);
    height: calc(20 / 1920 * 100vw);
    font-family: Montserrat;
    font-size: calc(20 / 1920 * 100vw);
    color: #cbc5c1;
    padding-top: calc(15 / 1920 * 100vw);
    padding-right: calc(610 / 1920 * 100vw);
    padding-left: calc(23 / 1920 * 100vw);
    margin-top: calc(42 / 1920 * 100vw);
}

section {
    width: calc(1821 / 1920 * 100vw);
    height: calc(831 / 1920 * 100vw);
    background: url("img/watch/section-bg.svg");
    background-size: cover;
    margin-top: calc(42 / 1920 * 100vw);
    margin-right: calc(62 / 1920 * 100vw);
    margin-bottom: calc(35 / 1920 * 100vw);
    margin-left: calc(37 / 1920 * 100vw);
}

#frame {
    background-color: #5b5549;
    border-radius: calc(5 / 1920 * 100vw);
    width: calc((1150 - 31) / 1920 * 100vw);
    height: calc(823 / 1920 * 100vw);
    margin: auto;
    padding-left: calc(15 / 1920 * 100vw);
    padding-right: calc(16 / 1920 * 100vw);
}

#season-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*#season-menu {*/
/*    border: 2px solid #524D42;*/
/*}*/

.season {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cbc5c1;
    font-family: Montserrat;
    background: #524d42;
    font-size: calc(17 / 1920 * 100vw);
    width: calc(121 / 1920 *100vw);
    height: calc(37 / 1920 * 100vw);
    margin-right: calc(24 / 1920 * 100vw);
    margin-bottom: calc(14 / 1920 * 100vw);
    margin-top: calc(17 / 1920 * 100vw);
    border-radius: calc(5 / 1920 * 100vw);
}
#s1 {
    /*margin-left: calc(22 / 1920 * 100vw);*/
    background: #cbc5c1;
    color: #524D42;
}

/*.season:hover {*/
/*    background: #6C5748;*/
/*}*/

.season:active {
    background: #cbc5c1;
    color: #524D42;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1116 / 1920 * 100vw);
    height: calc(570 / 1920 * 100vw);
    background: #000000;
    margin: 0;
}

#play {
    display: flex;
    border: 0;
    padding: 0;
    /*margin: auto;*/
    width: calc(59 / 1920 * 100vw);
    height: calc(70 / 1920 * 100vw);
    background: url("img/watch/play-bt.svg");
    background-size: cover;
    align-items: center;
}

.episode {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cbc5c1;
    background: #524d42;
    font-family: Montserrat;
    border-radius: calc(5 / 1920 * 100vw);
    font-size: calc(17 / 1920 * 100vw);
    width: calc(122 / 1920 * 100vw);
    height: calc(32 / 1920 * 100vw);
    margin-right: calc(14 / 1920 * 100vw);
    margin-bottom: calc(15 / 1920 * 100vw);
    margin-top: calc(23 / 1920 * 100vw);
}

#ep-menu {
    display: flex;
}

.episode:hover, .season:hover {
    background: #6C5748;
}

.episode:active {
    background: #cbc5c1;
    color: #524D42;
}

#episode1 {
    /*margin-left: calc(23 / 1920 * 100vw);*/
    background: #cbc5c1;
    color: #524D42;
}

footer {
    width: calc(458 / 1920 * 100vw);
    height: calc(28 / 1920 * 100vw);
    text-align: center;
    font-size: calc(24 / 1920 * 100vw);
    font-family: Montserrat;
    margin-right: calc(740 / 1920 * 100vw);
    margin-left: calc(722 / 1920 * 100vw);
}