@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Old Standard TT;
    src: url("fonts/OldStandardTT-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("fonts/Merriweather-LightItalic.ttf");
}

body {
    margin: 0;
    background: #cbc5c1;
}

header {
    display: flex;
    border-radius: 0 0 calc(20 / 1920 * 100vw) calc(20 / 1920 * 100vw);
}

ol {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(125 / 1920 * 100vw);
    font-size: calc(45 / 1920 * 100vw);
    background: #5b5549;
    font-family: Montserrat;
    color: #cbc5c1;
    list-style-type: none;
}

.menu-item:hover {
    background: #6C5748;
}

#main {
    width: calc(608 / 1920 * 100vw);
}

#watch {
    border: 0px solid #524d42;
    border-right-width: 5px;
    border-left-width: 5px;
    width: calc(717 / 1920 * 100vw);
}

#manga {
    width: calc(458 / 1920 * 100vw);
}

#img2 {
    width: calc(138 / 1920 * 100vw);
    background-image: url("img/user2.svg");
    border-radius: 0 0 calc(20 / 1920 * 100vw) 0;
    background-size: cover;
    /*border: 5px solid #524d42;*/
}

h1 {
    width: calc(516 / 1920 * 100vw);
    height: calc(20 / 1920 * 100vw);
    font-family: Montserrat;
    font-size: calc(20 / 1920 * 100vw);
    color: #cbc5c1;
    /*padding-top: calc(15 / 1920 * 100vw);*/
    /*padding-right: calc(610 / 1920 * 100vw);*/
    /*padding-bottom: calc(14 / 1920 * 100vw);*/
    /*padding-left: calc(23 / 1920 * 100vw);*/
    /*margin-top: calc(42 / 1920 * 100vw);*/
    /*margin-left: calc(400 / 1920 * 100vw);*/
}

#frame {
    background-color: #524d42;
    width: calc(1150 / 1920 * 100vw);
    height: calc(823 / 1920 * 100vw);
    margin: auto;
    /*margin-top: calc(42 / 1920 * 100vw);*/
    /*margin-right: calc(385 / 1920 * 100vw);*/
    /*margin-bottom: calc(42 / 1920 * 100vw);*/
    /*margin-left: calc(385 / 1920 * 100vw);*/
}

ol {
    list-style-type: none;
}

#player {
    width: calc(1116 / 1920 * 100vw);
    height: calc(570 / 1920 * 100vw);
    background: #000000;
}

#play {
    border: 0;
    padding: 0;
    width: calc(59 / 1920 * 100vw);
    height: calc(56 / 1920 * 100vw);
    background-image: url("img/watch/play-bt.svg");
}